body {
  font-family: monospace;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#main-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  position: fixed;
  z-index: 999;
  bottom: 5%;
  left: 20px;
  text-align: center;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 4px;
  text-shadow: 0px 0px 2px black;
}

#main-nav-bar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-nav-bar li {
  margin-right: 20px;
}

#main-nav-bar a {
  color: rgb(194, 131, 13);
  text-decoration: none;
  transition: color 0.5s ease;
}

#main-nav-bar a:hover {
  color: whitesmoke;
}

/*mobile view for the main nav bar*/

@media (max-width: 768px) {
  #main-nav-bar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  #main-nav-bar li {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

#main-logo {
  position: fixed;
  z-index: 999;
  top: 10px;
  left: 5px;
  width: 90%;
  max-width: 1000px;

  @media (max-width: 768px) {
    top: 10px;
    left: 10px;
    right: 10px;
  }
}

#gordon {
  position: fixed;
  z-index: 998;
  height: 95%;
  top: 10%;
  right: 10px;

  @media (max-width: 768px) {
    top: 10%;
    left: -120px;
  }
}
